:root {
  --dl-color-ui-0: #FFFFFF;
  --dl-color-ui-100: #efe7edff;
  --dl-color-ui-200: #ddd0dbff;
  --dl-color-ui-300: #cab9c8ff;
  --dl-color-ui-400: #b7a4b4ff;
  --dl-color-ui-500: #8c7388ff;
  --dl-color-ui-600: #785e74ff;
  --dl-color-ui-700: #634b5fff;
  --dl-color-ui-800: #4d3849ff;
  --dl-color-ui-900: #3c2a39ff;
  --dl-color-ui-1000: #2b1d28ff;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-600: #0f8a61ff;
  --dl-color-primary-700: #205b47ff;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1248px;
  --dl-color-secondary-400: #ffd633ff;
  --dl-color-secondary-500: #ffcc00ff;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-primary1-blue60: #e2ddf5ff;
  --dl-color-primary1-blue80: #5228f5ff;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-color-primary1-blue100: #291477ff;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-ui-0);
  display: inline-block;
  padding: .75rem 2rem;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-primary-600);
}
.button:hover {
  background-color: var(--dl-color-primary-700);
}
.button-secondary {
  color: var(--dl-color-ui-1000);
  display: inline-block;
  padding: .75rem 2rem;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-secondary-400);
}
.button-secondary:hover {
  background-color: var(--dl-color-secondary-500);
}
.button-tertiary {
  color: var(--dl-color-ui-1000);
  display: inline-block;
  padding: .75rem 2rem;
  border-color: var(--dl-color-ui-1000);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
}
.button-tertiary:hover {
  color: var(--dl-color-ui-0);
  background-color: var(--dl-color-ui-1000);
}
.input {
  color: var(--dl-color-ui-1000);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-ui-1000);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-ui-0);
}
.textarea {
  color: var(--dl-color-ui-1000);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-ui-1000);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-ui-0);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.heading2 {
  font-size: 2.5rem;
}
.heading1 {
  font-size: 4.5rem;
  font-weight: 700;
}
.heading3 {
  font-size: 1.8rem;
}
.sectionTitle {
  font-size: .75rem;
  font-weight: 700;
  letter-spacing: 1.2;
  text-transform: uppercase;
}
.heading4 {
  font-size: 1.2rem;
}
.Content {
  font-size: 19px;
  font-family: Inter;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: -0.25px;
  text-transform: none;
  text-decoration: none;
}
.H4 {
  font-size: 24px;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.5px;
  text-transform: none;
  text-decoration: none;
}
.P2B {
  font-size: 19px;
  font-family: Inter;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: -0.25px;
  text-transform: none;
  text-decoration: none;
}
.H1 {
  font-size: 72px;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -3px;
  text-transform: none;
  text-decoration: none;
}
.H2 {
  font-size: 48px;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.12;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}
@media(max-width: 767px) {
  .heading2 {
    font-size: 1.8rem;
  }
  .heading1 {
    font-size: 2.5rem;
  }
  .heading3 {
    font-size: 1.1rem;
  }
  .heading4 {
    font-size: 1.2rem;
  }
}
